# dev environment
.vscode/

# pycache
**/__pycache__/

# environment
# .env.dev     <-- UNCOMMENT FOR YOUR PROJECT
# .env.prod    <-- UNCOMMENT FOR YOUR PROJECT
# .env.prod.db <-- UNCOMMENT FOR YOUR PROJECT
